body {
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #DCDDD8;
}

.text-center {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

a {
  color: #376A94;
}

.ruby {
  color: #c61a1a;
}

.python {
  color: #376A94;
}

.underline {
  text-decoration: underline;
}

table {
  background: #354B5E;
}

thead > tr > th {
  text-align: center;
}

input[type="password"]:focus, input[type="email"]:focus, input[type="text"]:focus {
  border-color: #5791c1;
}

