#home-page{
  color: #9A9A9A;
}


#description-section, #logistics-section, #philosophy-section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.title-of-section {
  font-size: 60px;
  margin-bottom: 30px;
  color: #354B5E;
}

#description-section, #logistics-section > ul > li {
  font-size: 35px;
}

#philosophy-section > p {
  font-size: 28px;
}



