{% extends "base.html" %}
{% block content %}
<div class="jumbotron introtron text-center">
  <div class="container">
    <h1>CODE<span class="glyphicon glyphicon-certificate"></span>STAR</h1>
    <p>Master the web. Create your future.</p>
  </div>
</div>

<div class="jumbotron business-description">
  <h1>Learn Ruby, Python, and More</h1>
  <ul>
    <li>One on One Tutoring</li>
    <li>Walk Through Blogs, Twitter, and Reddit like apps</li>
    <li></li>
    <li></li>
  </ul>
</div>

<div class="jumbotron pricing">
  <div class="pull-right">
    <h1>100% Money Back Guarantee</h1>

    <ul>
      <li>If you're not satisfied, you'll get a 100% refund, no questions asked</li>
      <li>Taught by people who learned the hard way, and want to make it easy for you</li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
{% endblock %}