{% extends "base.html" %}

{% include "splash_navbar.html" %}

{% block content %}

<div id="home-page">

  <div class="container">
    <div id="description-section">
      <div class="title-of-section">What We Do</div>
      <ul>
        <li>- We teach you programming: <span class="ruby">Ruby</span>, <span class="python">Python</span>, and More</li>
        <li>- Private one-on-one lessons</li>
        <li>- 100% money back guarantee</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <hr>
  </div>

  <div class="container">
    <div id="logistics-section">
      <div class="title-of-section">Pricing</div>
      <ul>
        <li>- $60 per Lesson (1 hour)</li>
        <li>- Debit, Credit, or Paypal are accepted</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <hr>
  </div>

  <div class="container">
    <div id="philosophy-section">
      <div class="title-of-section">Our Philosophy</div>
        <p>
          Think that building an app is confusing? Want to use features from Twitter or
          Reddit? We sit down and guide you through apps that you build in the real world. Learn the language,
          learn the framework, learn the app.
        </p>
    </div>
  </div>
</div>
{% endblock %}