{% extends "base.html" %}
{% block content %}

<div id="home-page">

  <div class="container">
    <div id="description-section">
      <div class="title-of-section">What We Do</div>
      <ul>
        <li>- We teach you programming: <span class="ruby">Ruby</span>, <span class="python">Python</span>, and More</li>
        <li>- One-on-one lessons, through real app examples</li>
        <li>- 100% money back guarantee</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <hr>
  </div>

  <div class="container">
    <div id="logistics-section">
      <div class="title-of-section">Pricing</div>
      <ul>
        <li>- $60 per Lesson (1 hour)</li>
        <li>- Debit, Credit, or Paypal are all accepted</li>
      </ul>
    </div>
  </div>

  <div class="container">
    <hr>
  </div>

  <div class="container">
    <div id="philosophy-section">
      <div class="title-of-section">Our Philosophy</div>
        <p>
          Think that code is confusing? Not sure how to build an app that takes features from Twitter or
          Reddit? We sit down and guide you through apps that you build in the real world. Learn the code,
          learn the framework, learn the app.
        </p>
    </div>
  </div>
</div>
{% endblock %}