{% extends "base.html" %}

{% include "splash_navbar.html" %}

{% block content %}

<br>
<div class="row">
  <div class="col-md-4 col-md-offset-4" id="sign-in-section">
    <h1>Login</h1>
    <form role="form" action="" method="post">
      <div class="form-group">
        <input type="email" class="form-control" placeholder="Email">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password">
      </div>

      <div>Not a member? Sign up here. It's <a href="/sign_up">free</a>.</div>

      <br>

      <button type="submit" class="btn btn-red">Sign In</button>
    </form>
  </div>
</div>


{% endblock %}