{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand dark-blue" href="/user">CODE<span class="glyphicon glyphicon-certificate"></span>STAR</a>
  </div>
  <div>
    <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Jason Tanner</a></p>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h1 class="underline">Add a Lesson</h1>
    </div>

    <div class="clearfix"></div>
    <br>

    <div id="add-lesson-section">
      <div class="col-md-3">
        <input type="text" id="datepicker" class="form-control" placeholder="Select a date...">
      </div>
      <div class="clearfix"></div>
      <br>
      <div class="col-md-3">

        <div id="hour" class=" well text-center">
          <p class="text-primary">Select a Time:</p>
          <div class="btn-block">
            <button type="button" class="btn btn-primary btn-lg">3:00 pm</button>
            <button type="button" class="btn btn-primary btn-lg">3:30 pm</button>
          </div>

          <div class="btn-block">

            <button type="button" class="btn btn-primary btn-lg">4:00 pm</button>
            <button type="button" class="btn btn-primary btn-lg">4:30 pm</button>
          </div>

          <div class="btn-block">

            <button type="button" class="btn btn-primary btn-lg">5:00 pm</button>
            <button type="button" class="btn btn-primary btn-lg">5:30 pm</button>
          </div>

          <div class="btn-block">

            <button type="button" class="btn btn-primary btn-lg">6:00 pm</button>
            <button type="button" class="btn btn-primary btn-lg">6:30 pm</button>
          </div>

          <div class="btn-block">

            <button type="button" class="btn btn-primary btn-lg">7:00 pm</button>
            <button type="button" class="btn btn-primary btn-lg">7:30 pm</button>
          </div>

          <div class="btn-block">

            <button type="button" class="btn btn-primary btn-lg">8:00 pm</button>
            <button type="button" class="btn btn-primary btn-lg">8:30 pm</button>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="clearfix"></div>

    <div class="col-md-4">
      <h1 class="underline">Lessons Coming Up</h1>
    </div>
  </div>

</div>

{% endblock %}